<ion-view view-title="PointSale :: Cotizador">
  <ion-content class="cotizar">
    <div class="text-center">
      <button ng-click="limpiarCotizacion()" class="button button-assertive pull-left"><i class="icon fa fa-trash"></i></button>
      <button ng-click="buscarProducto()" class="button button-balanced"><i class="icon ion-search"></i></button>
      <button ng-click="agregarProducto()" class="button button-royal pull-right"><i class="icon fa fa-barcode"></i></button>
    </div>
    
    <div style="clear:both;"></div>
    <div class="text-center">
    
    <br /><br />
    </div>

  <div class="row">
    <div class="col col-10 hd"><b><i class="fa fa-trash fa-fw"></i></b></div>
    <div class="col col-33 hd"><b>Producto</b></div>
    <div class="col hd"><b>Cantidad</b></div>
    <div class="col hd"><b>Precio Total</b></div>
  </div>

  <div class="row detalle" ng-repeat="producto in cotLista">
    <div class="col col-10 text-center" style="padding:0;"><br /><button class="button button-assertive button-small" ng-click="lineaChao('{{producto.codigo}}');"><i class="fa fa-trash"></i></button></div>
    <div class="col col-33">{{producto.codigo}}<br /><b>{{producto.descripcion}}</b><br />Stock: {{producto.stock}}</div>  
    <div class="col text-center">
      <button class="button button-assertive button-small button-outline" ng-click="lineaMenos('{{producto.codigo}}');"><i class="fa fa-minus fa-fw"></i></button>
      <button class="button button-balanced button-small button-outline" ng-click="lineaMas('{{producto.codigo}}');"><i class="fa fa-plus fa-fw"></i></button>
      <br />
      <h3>{{producto.cantidad}}</h3>
    </div>
    <!--<div class="col text-right"><b>{{(producto.precio | currency:"$ ":0)}}</b></div>-->
    <div class="col text-right"><b>{{(producto.total | currency:"$ ":0)}}</b></div>
  </div>

  <div class="row" ng-show="!cotLista.length">
    <div class="col vacio">No hay productos en esta cotización</div>
  </div>

  <div class="row totals firsttotal" ng-show="cotLista.length">
    <div class="col col-50 text-right">Precio VENTA</div>
    <div class="col col-50 text-right">{{(neto | currency:"$ ":0)}}</div>
  </div>
  <!--
  <div class="row totals" ng-show="cotLista.length">
    <div class="col col-25 text-right col-offset-50">IVA</div>
    <div class="col col-25 text-right">{{(iva | currency:"$ ":0)}}</div>
  </div>
  <div class="row totals" ng-show="cotLista.length">
    <div class="col col-25 text-right col-offset-50">Total</div>
    <div class="col col-25 text-right">{{(total | currency:"$ ":0)}}</div>
  </div>
  -->


  <br /><br />
    <div class="text-center">
      <button ng-click="terminar()" class="button button-positive">Generar cotización</button>
    </div>
    <br /><br />
  </ion-content>
</ion-view>