<ion-view view-title="Andes - Tienes {{$root.pedidos.length}} pedidos">
  <ion-content class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">

    <ion-refresher on-refresh="refresh(1)"></ion-refresher>

    <a class="card item item-text-wrap" href="#" ng-if="pedidos.length == 0" style="width: 100%; text-align: left;">
      {{emptyMessage}}
    </a>

    <a href="#" class="item item-pedido item-text-wrap {{(pedido.Habilitado == 0 ? 'item-pedido-off' : '')}} {{(pedido.Habilitado == 2 || pedido.Habilitado == 3 ? 'item-pedido-running' : '')}}" ng-click="detalle(pedido)" ng-repeat="pedido in pedidos">
      <div class="pedido-nrodocumento"><i class="fa fa-thumb-tack"></i> Pedido #{{pedido.NroDocumento}}</div>
      <div class="pedido-razonsocial">{{pedido.RazonSocial}}</div>
      <div ng-if="pedido.ComentariosSacador != ''" class="pedido-comentariosacador">{{pedido.ComentariosSacador}}</div>
    </a>

    <div ng-if="$root.sacador.NombreSacador == 'Oficina'">
      <h2>Wifi Debugger</h2>
      <p>{{wifi}}</p>
      <p>{{wifi2}}</p>
      <p>{{wifi3}}</p>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable" style="height: 55px;">
    <div class="row" style="padding:0;">
      <div class="col col-67" style="padding-top: 10px;">
        <strong>Sacador: {{$root.sacador.NombreSacador}}</strong>
      </div>
      <div class="col col-33 text-right">
        <button class="button button-dark" ng-click="refresh()">
          Actualizar ({{segs}})
        </button>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>