<ion-view view-title="Login" class="login" >
  <ion-content>
    <div class="text-center logo animated slideInDown">
      <img src="img/logo.png" />
    </div>

    <div class="row">
      <div class="col col-100 text-center">
        <a ng-click="leerColumna();"><img src="img/cargo.png" /> <br /> Usar camara</a>
      </div>
    </div>
    <br /><br /><br />
    <div class="row">
      <div class="col col-100 text-center">
        <a ng-click="buscarColumna();"><img src="img/warehouse.png" /> <br /> Buscar</a>
      </div>
    </div>

  </ion-content>
</ion-view>
