<ion-view view-title="Login" class="login" >
  <ion-content>
    <div class="text-center logo animated slideInDown">
      <img src="img/logo.png" style="width: 300px;" />
    </div>

    <div class="row">
      <div class="col col-50 text-center">
        <a ng-click="leerColumna();" style="display:block;"><img style="max-width: 80px;" src="img/camera.png" /> <br /> Usar camara</a>
      </div>
      <div class="col col-50 text-center">
        <a ng-click="leerScanner();" style="display:block;"><img style="max-width: 80px;" src="img/scanner.png" /> <br /> Usar lector</a>
      </div>
    </div>
    <br /><br /><br />
  </ion-content>
</ion-view>
